/* google-font */
body{
    font-family: 'Poppins', sans-serif;
}
.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:80px;

}
.infulencer-detels{
    margin-left: 30px;
}
.infulencer-detels h1{
    font-size: 52px;
    margin-bottom: 0;
}
.infulencer-detels p{
padding-bottom: 20px;

}
.btn{
    width: 196px;
    background-color: salmon;
    padding: 10px 24px;
    text-decoration: none;
    color: white;
    font-weight: 700px;
    border-radius: 41px;
}
.btk{
    text-decoration: none;
    color:salmon ;
    
}
.center{
    text-align: right;
    margin-right: 50px;
}
.size{
    display: flex;
    justify-content: space-around;
    margin-top: 36px;
    margin-bottom: 36px;
}
/* popular-collection */
.main-popular{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 40px;
   
}
.section-title{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.fa-star{
    color: gold;
}
.pera-color{
    color: lightslategray;
}
/* Bonus-project */
.bonus{
    display: flex;
    margin-left: 20px;
    margin-top: 80px;
    justify-content: center;
}
.imeg{
    padding-right: 40px;
    
}
.imeg-info p{
    color: #6C6C6C;
}
/* footer  */
.footer{
    background-color: #0A0826;
    text-align: center;
    color: white;
    padding-top: 10px;
}
.i-con{
    padding-bottom: 10px;
}
/* Media-Queries */

/* Mobile Devices */
@media only screen and (max-width:688px) {
    .main{
        width: 70%;
        grid-template-columns: repeat(1,1fr);
    }
    .main-popular{
        grid-template-columns: repeat(1,1fr);
        margin-left: 40px;
    }
    .size{
        display: block;
        margin-left: 10px;
    }
    .bonus{
        display: block;
        margin-bottom: 50px;
    }
    .footer{
        width: 100%;
        margin: 0;
        padding-right: 50px;
    }
}
